:root {
  --body-color: #f5f6fa;
  --bg-color: #fff;
  --dark-color: #000;
  --grey-color: #ccc;
  --color1: #0791a8;
  --color2: #e64c25;
  --color3: #64bfca;
  --color4: #d0f3ef;
  --color5: #033a44;
  --color6: #242424;
  --color7: #c2c2c2;
  --color8: #3a3a3a;
  --color9: #2f3c4c;
  --color10: #f9f9f9;
  --swatch1: #64bfca;
  --swatch2: #684df4;
  --swatch3: #d0f3ef;
  --swatch4: #323f7c;
  --swatch5: #37c4fc;
  --swatch6: #8a2be2;
  --main-font: "Plus Jakarta Sans";
}
