/******************************MEDIA QUERIES***********************/
@media (min-width:2280px) {
    .container {
        width: 2100px;
    }
}

@media (min-width:1900px) {
    .container {
        width: 1700px;
    }
}

@media (min-width:1600px) {
    .container {
        width: 1400px;
    }

}

@media screen and (max-width: 1400px) {
  
}

@media screen and (max-width: 1366px) {
   
    .site-tabs .nav-pills .nav-link {
        width: 260px !important;
    }

}
@media screen and (max-width:1200px){
    .main-header select {
        width: 100%;
    }
    .main-header input[type="date"]{
        width: 100%;
    }
    .site-tabs .nav {
        position: inherit;
    }
    .sticky{
        display: none;
    }
}
@media screen and (max-width: 1100px) {
    .site-tabs .nav-pills .nav-link {
        width: 230px !important;
    }
    

}

@media screen and (max-width: 992px) {

    .container {
        width: 950px !important;
    }
    header#desktop-version{
        display: none;
    }
    header#responsive-version{
        display: block;
    }
 
    .menu-res {
        display: none;
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 16%;
        background: var(--body-color);
        z-index: 999999;
        height: 100%;
    }
    .menu-toggle {
        color: var(--bg-color);
        font-size: 17px;
        cursor: pointer;
        text-align: right;
        display: inline-block;
        font-weight: 800;
        margin: 20px 0 0 0;
        padding: 5px 10px;
        position: absolute;
        top: 65px;
        left: 20px;
        background: var(--color2);
    }
    .logo-area img {
        margin: 22px auto 20px;
        display: block;
        width: 95px;
    }
    .user-sec {
        margin-bottom: 20px;
    }
    ul.menu li a {
        color: #000;
        padding: 19px 17px;
        display: block;
    }


    .menu-toggle .fa {
        /* position: absolute; */
        /* top: 25px; */
        /* right: 20px; */
        color: #000;
        z-index: 999;
        float: right;
        padding-right: 70px;
        z-index: 999;
    }

    .menu li {
        display: inline-block;
        width: 100%;
        transition: all ease-in-out 0.2s;
        -webkit-transition: all ease-in-out 0.2s;
        -moz-transition: all ease-in-out 0.2s;
        -ms-transition: all ease-in-out 0.2s;
        -o-transition: all ease-in-out 0.2s;
    }
    .site-tabs .nav-pills .nav-link {
        width: 175px !important;
        font-size: 12px !important;
    }
    .site-tabs .nav-pills .nav-link.active, .site-tabs .nav-pills .show>.nav-link{
        font-size: 12px !important;
    }
    
    #m-chart1 canvas#BA-chart-job-error {
        height: auto !important;
    }
}

@media screen and (max-width: 991px) {
    
}

@media screen and (max-width: 800px) {

    .container {
        width: auto !important;
    }

}

@media screen and (max-width: 768px) {
   
}

@media screen and (max-width:767px) {
   
}

@media screen and (max-width: 675px) {
   
}

@media screen and (max-width: 600px) {
   
}

@media screen and (max-width: 575px) {
    .site-tabs .nav-pills .nav-link {
        width: 300px !important;
    }
    
}

@media screen and (max-width: 375px) {}

@media screen and (max-width: 320px) {}